.footerWrapper {
    background-color: #0067A3;
}

.general {
    max-width: 1235px;
    min-height: 55px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

@media screen and (max-width: 740px) {
    .general {
        flex-direction: column;
    }
}